<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body style="background-color:#ffffff;width: 520px;border: 170px solid #f5f5f5;border-width: 40px 100% 80px 100%;margin:0px;-->
<!--padding: 60px 40px 50px 40px;font-family: Arial">-->
<!--Hi {{ instance_data.first_name }}-->


<!--<h1>-->
<!--    Congratulations, You have been added to the Ocean Group-->
<!--</h1>-->

<!--<h2>Please click on the below link to complete your registration</h2>-->
<!--<h3>{{ registration_link }}</h3>-->

<!--<br/>-->
<!--Regards,<br/>-->
<!--Ocean Group-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html>
  <body
    style="
      background: linear-gradient(to bottom left, #94baf8 0%, #ffffff 100%);
      padding: 50px;
      font-family: Arial;
      font-size: 19px;
      color: #152d54;
      display: flex;
      justify-content: center;
    "
  >
    <div
      style="
        margin: 170px;
        width: 50%;
        background-color: #fff;
        padding: 4%;
        box-shadow: 13px 2px 30px 15px #a9c8fa;
        margin-top: 110px;
        min-width: fit-content;
      "
    >
      <br />
      <img
        style="width: 150px; margin-bottom: 21px; margin-left: 35%"
        src="{{ logo_path }}ocean-logo-new.png"
        alt="logo"
      />
      <br />
      Hi {{ instance_data.first_name }},
      <br />
      <br />
      <div style="margin-left: 15px; font-size: 22px; line-height: 1.5">
        <b>Congratulations,</b> You have been added to the Ocean Group.
        <br />
        Please click on the below button to complete your registration.
        <br />
          <div style="text-align: center">
            <a href="{{registration_link}}">
              <button
                style="
                  background-color: #4379d1;
                  border: 2px solid #4379d1;
                  color: white;
                  padding: 15px;
                  text-align: center;
                  display: inline-block;
                  font-size: 20px;
                  margin: 30px;
                  cursor: pointer;
                  border-radius: 5px;
                  margin-top: 60px;
                "

              >
                <b>Complete The Registration</b>
              </button>
            </a>
        </div>
        <br />
        <br />
      </div>

      Regards,<br />
      Ocean Group
      <!-- <img
        style="width: 150px; margin-top: 15px"
        src="/home/seq_arju/Documents/ocean-logo-new.png"
        alt="logo"
      /> -->
    </div>
  </body>
</html>